<template>
  <div id="accountList">
    <div class="ui container">
      <h1 class="ui aligned header">Account Details</h1>
      <div class="ui hidden divider"></div>
      <div class="ui divided items">

        <div class="divTable">
          <div class="divTableBody">
            <div class="divTableRow">

                <div class="divTableCell">Account Number</div>
                <div class="divTableCell">Balance</div>
                <div class="divTableCell">Account Holder Name</div>
                <div class="divTableCell">Account Type</div>
                <div class="divTableCell">Status</div>
                <div class="divTableCell">Date of Opening</div>
                <div class="divTableCell" v-if="this.customerDetails.permission==='Transaction'">Transactions</div>
                          </div>
                    <account v-for="account in accounts"
                            v-bind:key="account.account_id"
                            v-bind:account="account"
                            v-bind:permission="customerDetails.permission">
                      </account>
          </div>
        </div>
        <div class="ui hidden divider"></div>
    </vue-json-pretty>
    </div>
  </div>
    <div class="ui hidden divider"></div>
    <logout></logout>
  </div>
</template>

<script>
import VueJsonPretty from 'vue-json-pretty';
import { mapGetters } from 'vuex';
import Account from './Account';
import Logout from './Logout';

export default {
  name: 'AccountsLists',
  components: { Account, Logout, VueJsonPretty },
  computed: {
    accounts() {
      const accounts = this.$store.getters.accounts;

      if (!Array.isArray(accounts) || accounts.length === 0) {
        this.$store.dispatch('accounts');
      }
      return accounts;
    },
       ...mapGetters(['isLoggedIn','customerDetails']),
  },
  beforeDestroy() {
     this.$store.commit('ACCOUNT_DETAILS',[]);
  }
};
</script>
<style>
.divTable {
  display: table;
  width: 100%;
}
.divTableShort {
  display: table;
  width: 50%;
}
 .divTableRow {
  display: table-row;
  width:100%;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
  width:20%;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 10px 10px;
  width:20%;
  text-align:center;
  font-weight:bold;
}
</style>
