<template>

      <div class="divTableRow">
          <div class="divTableCell">{{this.account.account_number}}</div>
          <div class="divTableCell">{{this.account.balance}}</div>
          <div class="divTableCell">{{ this.account.account_holder_name }}</div>
          <div class="divTableCell">{{ this.account.account_type }}</div>
          <div class="divTableCell">{{ this.account.status }}</div>
          <div class="divTableCell">{{ this.account.date_of_opening }}</div>
          <div class="divTableCell" v-if="this.permission==='Transaction'"><button class="ui large primary submit button" @click="transactions(account.account_id)">View</button></div>
      </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'account',
  props: ['account','permission'],
  methods: {
  async transactions(account_id) {
      await this.$store.dispatch('transactions', {
        account_id: account_id
      });
      this.$router.push('/transactions');
  },
  }
};
</script>

<style scoped>
  .aspsp-select {
    width: 70%;
  }
  a:hover {
    text-decoration:underline;
     cursor: pointer;
  }
  .divTableRow {
  display: table-row;
  width:100%;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 10px 10px;
  width:15%;
  text-align:center;
}
</style>
