<template>

      <div class="divTableRow">
          <div class="divTableCell">{{this.transaction.transaction_id}}</div>
         
          <div class="divTableCell">{{ this.transaction.amount }}</div>
           <div class="divTableCell">{{this.transaction.transactionReference}}</div>
          <div class="divTableCell">{{ this.transaction.type }}</div>
      </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'transaction',
  props: ['transaction'],
  methods: {
  },
};
</script>

<style scoped>
  .aspsp-select {
    width: 70%;
  }
  a:hover {
    text-decoration:underline;
     cursor: pointer;
  }
  .divTableRow {
  display: table-row;
  width:100%;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 10px 10px;
  width:15%;
  text-align:center;
}
</style>
