<template>
  <div id="transactionList">
    <div class="ui container">
      <h1 class="ui aligned header">Account Details</h1>
      <div class="ui hidden divider"></div>
      <div class="ui divided items">
      <div class="backbutton">
         <button name="back" class="ui button" type="button" v-on:click="back">Back</button>
      </div>
        <div class="divTable">
          <div class="divTableBody">
            <div class="divTableRow">
                
                <div class="divTableCell">Transaction Number</div>
                <div class="divTableCell">Transaction Amount</div>
              
                <div class="divTableCell">Transaction Type</div>
                <div class="divTableCell">Transaction Reference</div>
              </div>  
                    <transaction v-for="transaction in transactions"
v-bind:key="transaction.account_id"
                            v-bind:transaction="transaction">
                      </transaction>
          </div>
        </div>
        <div class="ui hidden divider"></div>
    </vue-json-pretty>
    </div>
  </div>
    <div class="ui hidden divider"></div>
    <logout></logout>
  </div>
</template>

<script>
import VueJsonPretty from 'vue-json-pretty';
import { mapGetters } from 'vuex';
import Transaction from './Transaction';
import Logout from './Logout';

export default {
  name: 'TransactionLists',
  components: { Transaction, Logout, VueJsonPretty },
  computed: {
    transactions() {
      const transactions = this.$store.getters.transactions;

      if (!Array.isArray(transactions) || transactions.length === 0) {
        this.$store.dispatch('transactions');
      }
      return transactions;
    },
       ...mapGetters(['isLoggedIn']),
  },
  methods: {
    back() {
      this.$router.go(-1);
    }
  },
  beforeDestroy() {
     this.$store.commit('TRANSACTIONS_DETAILS',[]);
  }
};
</script>
<style>
.divTable {
  display: table;
  width: 100%;
}
.divTableShort {
  display: table;
  width: 50%;
}
 .divTableRow {
  display: table-row;
  width:100%;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
  width:20%;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 10px 10px;
  width:20%;
  text-align:center;
  font-weight:bold;
}
.backbutton {
  float:right;
  margin-right:27%;
  margin-bottom:5px;
}
</style>
