<template>
  <div id="app">
    <main class="ui container">
      <div class="ui container">
        <img src="./assets/logo.png" alt="Sample App Logo">
      </div>
      <div class="ui divider"></div>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'app',
  computed: {
  showHomeButton () {

     return (this.$route.path !=='/' && this.isLoggedIn);

  },
    ...mapGetters(['isLoggedIn','username']),
  },
  methods: {
    home() {
      this.$router.push('/activity-selection');
    },
    back() {
      this.$router.go(-1);
    }
  },
};
</script>
<style scoped>
.backbutton {
  float:right;
  clear:both;
}
.userdetailinfo {
font-weight:bold;
margin-bottom:20px;
font-size:15px;
width:100%;
clear:both;
}
.username
{
 float:right;
 width:30%;
 text-align:right;
}
</style>
